.Header {
	position: absolute;
	z-index: 99;
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
	align-items: center;
}

.HeaderItemDetails {
	display: inline-block;
	display: flex;
	margin-right: 7%;
}


@media (width <= 900px){
	.HeaderItemDetails {
		display: flex;
		flex-direction: column;
		margin: 0;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.7);
	}
}

.MobileMenu{
	display:none;
}

@media (width <= 900px){
	.MobileMenu {
		display: block;
		background-color: white;
		color: black;
		height: 53px;
	}

	.HeaderBergerMenu {
		width: 15px;
		float: right;
		margin-top: 8px;
	}

	.h-item-menu {
		margin: 16px 40px;
		text-align: left;
	}
}

