<<<<<<< Updated upstream
.TopMainProduct {
    position: absolute;
    top: 193%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 551px;
    margin-right: 569px;
    padding-top: 110px;
    padding-bottom: 110px;
}


.ProductTitle-MoreButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 780px;
}

.TopMainNews {
    position: absolute;
    z-index: 3;
    background-color: #f6f6f6;
    padding-top: 110px;
    padding-bottom: 110px;
    width: 100%;
    top: 317%;
}

.NewsTitle-MoreButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 551px;
    margin-right: 569px;
    width: 780px;
}

.TopMainShares {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 3;
    top: 544%;
    width: 100%;
}

.SharesDetails {
    display: flex;
    flex-direction: row;
    padding: 35px 0;
    justify-content: center;
}
=======
>>>>>>> Stashed changes
