.HeaderItem {
	
	color: white;
	position: relative;
}

@media (width < 900px) {
	.HeaderItem {
		border-bottom: solid 1px white;
		margin: 0;
	}
}

.h-link{
	all:unset;
	
}

.h-item {
	cursor: pointer;
	margin-left:60px;
}

@media (width < 900px) {
	.h-item{
		float:left;
	}
}

.h-item:hover{
	border-bottom: solid 1px white;
}


