.HeaderPaspolLogoLink{
    all:unset;
}

.HeaderPaspolLogo {
    width: 50%;
    cursor: pointer;
}
<<<<<<< Updated upstream
=======

@media ( width <= 900px ){
    .HeaderPaspolLogo{
        display:none;
    }
} 
>>>>>>> Stashed changes
