.HeaderItem {
	display: flex;
	flex-direction: row;
	margin-right: 40px;
	color: white;
	position: relative;
}

@media (width < 900px) {
	.HeaderItem {
		border-bottom: solid 1px white;
		margin: 0;
	}
}

.h-link{
	all:unset;
	
}

.h-item {
	cursor: pointer;
	margin-left:60px;
}

.h-item:hover{
	border-bottom: solid 1px white;
}


