.TopMainShares {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 3;
    width: 100%;
}

.SharesDetails-pc {
    display: flex;
    flex-direction: row;
    padding: 35px 0;
    justify-content: center;
}

@media (width <= 580px) {
    .SharesDetails-pc {
        display: none;
    }
}

@media (width > 580px) {
    .SharesDetails-phone {
        display: none;
    }
}

@media (width <= 580px) {
    .SharesDetails-phone {
        display: flex;
        flex-wrap: wrap;
        padding: 35px 0;
        justify-content: center;
        margin: 0 3%;
    }
}

.TopMainShare {
    transition-property: all;
    transition-duration: .3s;
    margin: 0 15px;
}

@media (width <= 580px) {
    .TopMainShare {
        margin: 5px 0;
        padding: 0 5px;
        width: 44.5%;
    }
}

.ShareButton {
    display: inline-block;
    vertical-align: top;
    font-size: 1rem;
    letter-spacing: normal;
    word-spacing: normal;
    margin: 0;
    border: 1px solid black;
    width: 162px;
    height: 46px;
    line-height: 48px;
    font-size: 14px;
    transition-property: all;
    transition-duration: .3s;
}

@media (width <= 700px) {
    .ShareButton {
        margin: 0 5px;
        width: 150px;
        font-size: 13px;
    }
}

@media (width <= 580px) {
    .ShareButton {
        margin: 0;
        width: 100%;
    }
}

.TopMainShare:hover {
    background-color: #13191b;
    color: white;
}

    .TopMainShare:hover .ShareButton {
        color: white;
    }

.TopMainBackToTop {
    position: absolute;
    width: 100%;
    top: -53px;
}

.BackToTop {
    width: 50px;
    height: 50px;
    cursor: pointer;
    transform: translateY(29px);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    transition-property: all;
}

    .BackToTop:hover {
        transform: translateY(24px);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
        transition-property: all;
    }

    

