.TopMainMoreButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 162px;
    height: 46px;
    border: 1px solid #13191b;
    transition-property: all;
    transition-duration: .3s;
}


@media (width = 500px) {
    .TopMainMoreButton {
        margin: 0;
    }
}

.More {
    font-size: 14px;
    color: #13191b;
    font-family: "Gill Sans Std Book", sans-serif;
    letter-spacing: 0.1em;
    position: relative;
    left: 4px;
    transition-property: all;
    transition-duration: .3s;
}


.TopMainMoreArrow {
    width: 8px;
    height: 12px;
    position: relative;
    right: -42px;
    transition-property: all;
    transition-duration: .3s;
}


.TopMainMoreButton:hover{
    background-color: #13191b;
    color: white;
}
    .TopMainMoreButton:hover .More {
        color: white;
    }

    .TopMainMoreButton:hover .TopMainMoreArrow {
        filter: invert(100%);
    }







