.TopMainVisual {
    width: 100%;
<<<<<<< Updated upstream
    height: 100%;
    pointer-events: fill;
}
=======
    height: 97vh;
}

@media (width = 500px) {
    .TopMainVisual {
        height: 102vh;
    }
}

>>>>>>> Stashed changes
